/* imported fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kavoon&display=swap');

/* Root Variables */
:root{
    --teal: #4CA7C0;
    --purple: #484FB7;
    --lavender: #6B8FE7;
    --yellow: #E9BB57; 
    --pink: #D9526F;
    --dark-gray:#1E1E1E;
    --white: #ffffff;
/* Global Styles */
    max-width: 450px;
    margin: 0 auto;
    font-family: Inter;
    background-color: var(--lavender);
}

header{
    background-color: var(--purple);
    text-align: center;
    color: var(--white);
}

main{
    background-color: var(--purple);
    padding: 15px;
}

h1, h2{
    font-family: Kavoon;
}

h1{
    font-size: 3em;
    text-align: center;
}

nav{
    background-color: var(--yellow);
    text-align: center;
    margin: 0;
}

nav h2{
    font-size: 1.5em;
    color: var(--dark-gray);
    font-family: inter;
    padding: 5px;
    font-style: italic;
}

ul > li{
    list-style-type: none;
}

nav ul{
    padding: .5rem;
}

nav li{
    color: var(--purple);
    width: 350px;
    background-color: var(--white);
    font-weight: bold;
    margin: 5px auto;
    padding: 5px;
}

h2{
    font-size: 2em;
    color: var(--white);
    margin: 5px;
}

h3{
    font-size: 1.5em;
    color: var(--yellow);
    margin: 5px;
}

h4{
    font-size: 1.15em;
    margin: 5px;
    color: var(--purple);
}

img{
    display: block;
    width: 65px;
    position: relative;
    left: 10px;
    padding: 10px;
}

h4{
    position: relative;
    left: 10px;
}

#personal-development{
    align-content: center;
    margin: 10px auto;
    padding: 5px;
    max-width: 380px;
    background-color: var(--white);
    border-radius: 15px;
}

#personal-development p{
    margin: 0 auto;
    max-width: 350px;
    padding: 5px;
}

#career-coaching{
    align-content: center;
    margin: 10px auto;
    padding: 5px;
    max-width: 380px;
    background-color: var(--white);
    border-radius: 15px;
}

#career-coaching p{
    margin: 0 auto;
    max-width: 350px;
    padding: 5px;
}

#relationship-coaching{
    align-content: center;
    margin: 10px auto;
    padding: 5px;
    max-width: 380px;
    background-color: var(--white);
    border-radius: 15px;
}

#relationship-coaching p{
    margin: 0 auto;
    max-width: 350px;
    padding: 5px;
}

#supportive-community{
    align-content: center;
    margin: 10px auto;
    padding: 5px;
    max-width: 380px;
    background-color: var(--white);
    border-radius: 15px;
}

#supportive-community p{
    margin: 0 auto;
    max-width: 350px;
    padding: 5px;
}

#focused-sessions{
    align-content: center;
    margin: 10px auto;
    padding: 5px;
    max-width: 380px;
    background-color: var(--white);
    border-radius: 15px;
}

#focused-sessions p{
    margin: 0 auto;
    max-width: 350px;
    padding: 5px;
}

#interactive-learning{
    align-content: center;
    margin: 10px auto;
    padding: 5px;
    max-width: 380px;
    background-color: var(--white);
    border-radius: 15px;
}

#interactive-learning p{
    margin: 0 auto;
    max-width: 350px;
    padding: 5px;
}

#flexible-learning{
    align-content: center;
    margin: 10px auto;
    padding: 5px;
    max-width: 380px;
    background-color: var(--white);
    border-radius: 15px;
}

#flexible-learning p{
    margin: 0 auto;
    max-width: 350px;
    padding: 5px;
}

#why-us{
    background-color: var(--pink);
    padding: 5px;
}

#why-us ul{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    padding: 10px;
    margin: 5px auto;
}

#why-us li{
    padding: 15px;
    margin: 5px;
    font-weight: bold;
}

#why-us ul li:nth-child(1){
    background-color: var(--teal);
    width: 150px;
    text-align: center;
    border-radius: 10px;
}

#why-us ul li:nth-child(2){
    background-color: var(--lavender);
    width: 150px;
    text-align: center;
    border-radius: 10px;
}

#why-us ul li:nth-child(3){
    background-color: var(--yellow);
    width: 150px;
    text-align: center;
    border-radius: 10px;
}

#why-us ul li:nth-child(4){
    background-color: var(--white);
    width: 150px;
    text-align: center;
    border-radius: 10px;
}

section table{
    margin: 0 auto;
    background-color: var(--yellow);
}

section table th{
    font-weight: bold;
    background-color: var(--yellow);
    padding: 15px;
}

section table td{
    background-color: var(--white);
    padding: 15px;
}

#scheduling{
    background-color: var(--pink);
    padding: 15px;
    margin: 0;
}

footer{
    background-color: var(--purple);
}